# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# No pipelines please
.gitlab-ci.yml

# testing
/coverage

# misc
.DS_Store

# Frontend
/frontend/dist
/frontend/dev-dist
/frontend/node_modules
/frontend/volumes/config/*
/frontend/volumes/ngnix/*
!/frontend/volumes/config/*.example
!/frontend/volumes/ngnix/*.example.conf

# Backend   
/backend/logs/*
/backend/coverage/
/backend/node_modules
/backend/volumes/config/*
/backend/volumes/data/*
/backend/volumes/database/*
!/backend/volumes/config/.env.example
!/backend/volumes/data/*.example.js
!/backend/volumes/database/info.txt

# Codeing Environment
/.vscode/*
!/.vscode/extensions.json
.idea

# log
*.log


